body{
    text-align: center;
}

h3{
    color:white;
    font-size:0.9em;
   /* margin-bottom:0px;*/
}

.container{
    width: 50%;
    margin: auto;
    background-color: rgb(199, 194, 194);
}

.descArticles{
    margin-top: 0px;
}

a:link{
    text-decoration: none;
}

li{
    list-style-type: none;
}